# Compiled class file
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/github/gitignore/pull/158
.mvn/wrapper/maven-wrapper.jar

# Avoid ignoring Maven wrapper, it is needed by build systems
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (python plugin for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Java Development Tooling)
.classpath

# Java annotation processor (tooling embedded in Eclipse)
.factorypath

# Project folder
.project

# Scheme-specific
.target

# Mylyn-specific
.mylyn

# PDE-specific (Plugin Development Environment)
.pdeversion

# Robot-specific
.robot

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Environment Variables
.env
.env.local
.env.*.local

# Docker
.docker/
